<div class="block <%= align %> <%= helpers_arguments %>" style="width: <%= width %>; height: <%= height %>; order: <%= order %>; flex-grow: <%= glow %>; flex-shrink: <%= shrink %>">
  <%= content %>
</div>