<% if @caption %>
  <span class="caption"><%= @caption %></span>
<% end %>

<% if @action == "submit" %>
  <button type="submit" role="button" data-method="<%= method %>" class="<%= type %> <%= size %> <%= alternate %> "><%= content %></a>
<% else %>
  <a id="<%= id %>" href="<%= url %>" role="button" data-method="<%= method %>" class="<%= type %> <%= size %> <%= alternate %> "><%= content %></a>
<% end %>
